set EMAIL_ID value
set MAIL_PASSWORD value
set MAIL_REALNAME value
set IMAP_USER value
set IMAP_PASSWORD value
set SMTP_URL value
set SMTP_PASS value
set MAILDIR value
set SPOOLFILE value
set DRAFTSFILE value
set SENTFILE value
set TRASHFILE value