.env
.secret
**/node_modules
.config/nvim/plugin
nvim.appimage
fish_history
.config/fish/fish_plugins
.config/fish/fish_variables
.config/yarn/global/yarn.lock
.config/fish/fish_variables
.config/yarn/global/yarn.lock
